@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    border: .1em solid rgb(192, 192, 192);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
